<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark p-0 shadow">
  <img src="../../../assets/images/Rumble_Studio_No_BG.png" alt="logo" class="ms-5 p-0 m-0 d-flex align-items-center"
    style="width: 90px; height: 90px; object-fit: cover;">
  <div class=" navbar-main collapse navbar-collapse justify-content-start">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/lobby/lobby-main" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Lobby
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lobby/private-room" routerLinkActive="active">
          Private Room
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lobby/group" routerLinkActive="active">
          Group
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lobby/shop" routerLinkActive="active">
          Shop
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lobby/redeem" routerLinkActive="active">
          Redeem
        </a>
      </li>
    </ul>
  </div>
</nav>